<div class="mat-elevation-z8 list-style">
  <a routerLink="/personnel-add"><button mat-stroked-button class="button-add">Add</button></a>
    <table mat-table [dataSource]="dataSource">
  
      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
      </ng-container>

      <ng-container matColumnDef="date_naiss">
        <th mat-header-cell *matHeaderCellDef> date_naiss </th>
        <td mat-cell *matCellDef="let element"> {{element.date_naiss}} </td>
      </ng-container>

      <ng-container matColumnDef="num_tel">
        <th mat-header-cell *matHeaderCellDef> num_tel </th>
        <td mat-cell *matCellDef="let element"> {{element.num_tel}} </td>
      </ng-container>

      <ng-container matColumnDef="adresse">
        <th mat-header-cell *matHeaderCellDef> adresse </th>
        <td mat-cell *matCellDef="let element"> {{element.adresse}} </td>
      </ng-container>

      <ng-container matColumnDef="cin">
        <th mat-header-cell *matHeaderCellDef> cin </th>
        <td mat-cell *matCellDef="let element"> {{element.cin}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
  </div>