.list-style{
    padding-top: 20px;
    background-color: #fff;
}
.list-style .button-add{
    float: right;
    margin: 0 20px 20px 0;
}
.list-style .button-up-dl{
    min-width: 40px;
    margin-right: 6px;
}
.list-style .button-up-dl .mat-icon{
    margin-right: 0;
    margin-left: 0;
}
.list-style table th{
    font-weight: 900;
}