<mat-sidenav-container>
    <mat-sidenav #drawer fixedInViewport="true" mode="side" opened="true" style="width: 230px; ">
      <mat-toolbar class="sidebar-style" color="primary" fxLayout fxLayoutGap="16px">
        <img class="logo" src="../assets/images/logo2.png">
      </mat-toolbar>
      <mat-nav-list class="menu-sidebar">
        <a mat-list-item routerLink="/personnels"><span class="icon-sidebar"><mat-icon>account_box</mat-icon><span class="text-menu">Personnels</span></span></a>
        <a mat-list-item routerLink="/rendez-vous"><span class="icon-sidebar"><mat-icon>calendar_today</mat-icon><span class="text-menu">Rendez-vous</span></span></a>
        <a mat-list-item routerLink="/factures"><span class="icon-sidebar"><mat-icon> list_alt</mat-icon><span class="text-menu">Factures</span></span></a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <div fxFlex fxLayout fxLayoutAlign="start center" >
       
  
          <div fxFlex></div>
  
          <div class="toolbar-separator"></div>
          <button [matMenuTriggerFor]="userMenu" class="toolbar-button" mat-button>
            <div fxLayout="row" fxLayoutAlign="center center">
              <mat-icon>face</mat-icon>
            </div>
          </button>
  
          <mat-menu #userMenu="matMenu" [overlapTrigger]="false">
  
            <button class="" mat-menu-item>
              <mat-icon>account_box</mat-icon>
              <span>Profile</span>
            </button>
            <button class="" mat-menu-item>
              <mat-icon>exit_to_app</mat-icon>
              <span>Logout</span>
            </button>
  
          </mat-menu>
        </div>
      </mat-toolbar>
      <div class="content mt-80 mx-16">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  