.mat-toolbar.mat-primary{
    background-color: #df9191;
}
.material-icons{
    font-size: 34px;
}
.mat-icon{
    height: 30px;
    width: 35px;
}
.logo{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.sidebar-style{
    background-color: transparent !important;
    height: 120px;
}